button {
    margin-top: 20px;
}

input {
    margin-top: 20px;
    background-color: darkblue;
    padding: 10px;
    border-radius: 0.5em;

    color: white
}

input :placeholder-shown {
    color: white;
}

mat-card {
    background-color: lightgray;
}

.go-to-dashboard {
    display: none;
}

@media screen and (max-width: 600px) {
    .go-to-dashboard {
        clear: both;
        display: block;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
    }
}