<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />">    
</ngx-spinner>
<div class="view-component">
    <table *ngFor="let type of keys" id="files">
        <h1>Files with Type: {{type}}</h1>
        <tr>
            <th *ngFor="let column of headers">
                {{column}}
            </th>
        </tr>

        <tr *ngFor="let row of groupedFiles[type]">
            <td>{{row.fileName}}</td>
            <td>{{row.fileSize}} KB</td>
            <td>{{row.fileType}}</td>
            <td>{{row.createdAt}}</td>
            <td>
                <button class="btn" (click)="onClickDownloadFile(row.fileContent,row.fileName, row.fileType)">
                    Download Me
              </button>
            </td>
        </tr>
    </table>
    <div class="footer"></div>
</div>